* {
    box-sizing: border-box;
}


div {
    width: auto;
    max-width: 615px;
    margin: auto;
    padding:20px;
    border: 10px;
    position: relative;
}

p {
    text-align: justify;
}

.bg {
    background-color: rgba(159, 204, 189, 0.677);
}

.box1 {
    border-left: 20px solid;
    border-color: rgb(224, 255, 138);
}

.box2 {
    border-right: 20px solid;
    border-color: #67d75a;
}

.box3 {
    border-left: 20px solid;
    border-color: rgb(255, 249, 138);
}

body {
    background-image: url("img/plant.jpg");
    background-size: cover;
    display: block;
    position: relative;
    max-width: 100vw;
}

.top {
    color: rgb(70, 108, 75);
    background-color: rgb(213, 238, 196);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    position: sticky;
    padding: 0.1em;
    padding-bottom: 0.5em;
    top: 0px;
    z-index: 1;
    width: 101vw;
    border-spacing: 2em;
    margin: auto;
}

#menubar {
    max-width: 102vw;
    margin-left: -1%;
    margin-top: -1%;
}

.menutext {
    padding-inline: 1vw;
}

h1 {
    margin-bottom: 5px;
}

#groupnames {
    padding-right: 8vw;
    font-size: 0.9em;
    margin-left: -1vw;
}


